body {
    background-color: rgb(175, 175, 175);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #222;
    
}




label {
    text-shadow:1px 1px rgb(124, 124, 124);
}

.naslov {
    margin-left: 40px;
    text-shadow:2px 2px rgb(124, 124, 124);
}

.button {
    color: green;
    background-color: greenyellow;
    width: 100px;
    height: 50px;
    font-size: large;
    transition: 0.2s;

    cursor: pointer;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(25, 80, 25);
}

.b2 {
    
    color: green;
    background-color: greenyellow;
    width: 100px;
    height: 50px;
    font-size: large;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 10px 5px 5px rgb(25, 80, 25);
}

.dugme {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

button:hover {
    background-color: green;
    color: greenyellow;
}

.inline {
    display: inline;
    padding-right: 100px;
    float: right;
    padding-left: 70px ;
}

#win {
    margin-left: 20px;
}

.footer {
    color: rgb(43, 43, 43);
    font-size: 12px;
}

.ball {
    margin-top: 20px;
    background-color: rgb(71, 71, 0);
    padding: 10px;
    padding-right: 17px;
    margin-left: 0px;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    border: 1px black solid;
    display: inline-flex;
    text-align: center;
    font-size: larger;
    transition: 0.5s;
    box-shadow: 10px 5px 5px rgb(117, 117, 54);
    align-items: center;
}


.other {
    background-color: rgb(148, 148, 148);
    border-radius: 20px;
    width: 100%;
    text-align:center;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    
}

.main  {
    background-color: rgb(148, 148, 148);
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 40px;
}

#ball1, #ball2, #ball3, #ball4, #ball5 {
    margin-right: 10px;
    margin-left: 10px;
}

#ball2, #ball4 {
    margin-bottom: 20px;
}

#ball3 {
    margin-bottom: 30px;
}

.kvota {
    display: inline;
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 10px;
}


.ball:hover {
    transform: rotate(360deg);
}

input {
    background-color: #d6d6d6;
    border: 1px solid rgb(114, 114, 114);
    color: black;
    padding: 5px 5px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(80, 80, 80);
}

input:hover {
    background-color: #ffffff;
}

p {
    text-align: center;
}






.phone {
    visibility: hidden;
    margin: 0;
    padding: 0;
}



p {
  margin-left: 10px; 
  padding-right: 20px;
}

.help {
    width: 40px;
    margin: 0 auto;
    float: right;
    border-radius: 20px;
    
  }
  
  .help .question {
    box-shadow: 10px 2px 2px rgb(122, 122, 122);
    height: 40px;
    width: 40px;
    background: #ccc;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .help .popup, .help .popup2 {
    width: 300px;
    height: 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
    background: #eee;
    opacity: 0;
    transition: 1s;
    box-shadow: 10px 2px 2px rgb(161, 161, 161);
    border-radius: 10px;
  }
  
  .help .popup {
    left: -300px;
    top: 10px;
  }
 
  .help:hover .popup {
    opacity: 1;
    height: 300px;
    padding: 20px;
  }


  

 
  
 







@media only screen and (max-width: 700px) {
    .inline {
      display: none;
    }

    .phone {
        visibility: visible;
        padding-top: 20px;
        text-align: center;
    }

    .main {
        padding-left: 0;
    }

    .kvota {
        padding: 0;
        display: none;
    }

    

    #form {
        text-align: center;
    }

    #balls {
        text-align: center;
    }
    button {
        margin: 0;
    }
  }